<div class="content">
    <div class="content-grid">
        <div class="tools" style="margin-bottom: 20px;">
            <div class="row">
                <div class="col-md-1">
                    <div class="btn-add">
                        <button class="mbtn mbtn-primary" (click)="goToHome()">Back</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="user-name">
                    <div class="avatar avatar-md">
                        {{movieDetails.title.charAt(0).toUpperCase()}}
                    </div>
                    <div class="name">
                        <h3>{{movieDetails.title}}</h3>
                        <span class="stat stat-enabled">{{movieDetails.id}}</span>
                    </div>
                </div>
            </div>

        </div>
        <div class="main-panel">
            <div class="user-details">
                <h3>Movie Details</h3>
                <div class="row">
                    <div class="user-grp">
                        <div class="col-md-3">
                            <div class="card-panel">
                                <img [src]="movieDetails.thumbnail">
                            </div>

                        </div>
                    </div>
                </div>

                <div class="user-grp">
                    <label>Title:</label>
                    <span>{{movieDetails.title}}</span>
                </div>
                <div class="user-grp">
                    <label>Showing Start:</label>
                    <span>{{movieDetails.showing_start | date:'MM/dd/yy'}}</span>
                </div>
                <div class="user-grp">
                    <label>Showing End:</label>
                    <span>{{movieDetails.showing_end | date:'MM/dd/yy'}}</span>
                </div>
                <div class="user-grp">
                    <label>Description:</label>
                    <span [innerHTML]="movieDetails.description"></span>
                </div>

                <!-- <div class="user-grp">
                <label>Status:</label>
                <span>{{local.userDetails.status}}</span>
            </div> -->

            </div>
        </div>

        <div class="main-panel">
            <div class="user-details">
                <h3>Schedule</h3>

                <div class="main-panel">
                    <div class="page-table">
                        <table>
                            <thead>
                                <tr>

                                    <th>Schedule</th>
                                    <th>Cinema</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of movieSchedule">
                                    <td>{{item.schedule}}</td>
                                    <td>{{item.name}}</td>
                                    <td class="pointer" (click)="goTo(item.id)" style="color: rgb(119, 190, 190);">View</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>


        <!-- <div class="main-panel">
          <div class="user-details">
              <h3>Participants</h3>
              <table class="table table-bordered">
                  <thead>
                      <th>#</th>
                      <th>Name</th>
                      <th>Mobile</th>
                      <th>Email</th>
                      <th>Ticket Numbner</th>
                      <th>Draw Date</th>
                      <th>Statu</th>
                  </thead>
                  <tbody>
                      <tr *ngFor="let item of entryList;let i = index">
                          <td>{{i+1}}</td>
                          <td>{{item.name}}</td>
                          <td>{{item.mobile}}</td>
                          <td>{{item.email}}</td>
                          <td>{{item.ticket_number}}</td>
                          <td>{{rewardData.draw_date | date:'MMM dd, yyyy'}}</td>
                          <td>{{(item.is_winner == 0)?'-':'Winner'}}</td>
                      </tr>
                  </tbody>
              </table>

          </div>
      </div> -->

    </div>
</div>