<div class="content">
    <div class="content-grid">
        <div class="tools" style="margin-bottom: 20px;">
            <div class="row">
                <div class="col-md-1">
                    <div class="btn-add">
                        <button class="mbtn mbtn-primary" (click)="goToHome()">Back</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="user-name">
                    <div class="avatar avatar-md">
                        {{movieDetails.title.charAt(0).toUpperCase()}}
                    </div>
                    <div class="name">
                        <h3>{{movieDetails.title}}</h3>
                        <span class="stat stat-enabled">{{movieDetails.id}}</span>
                    </div>
                </div>
            </div>

        </div>
        <div class="main-panel">
            <div class="user-details">
                <h3>Movie Details</h3>
                <div class="row">
                    <div class="user-grp">
                        <div class="col-md-3">
                            <div class="card-panel">
                                <img [src]="movieDetails.thumbnail">
                            </div>

                        </div>
                    </div>
                </div>

                <div class="user-grp">
                    <label>Title:</label>
                    <span>{{movieDetails.title}}</span>
                </div>
                <div class="user-grp">
                    <label>Showing Start:</label>
                    <span>{{movieDetails.showing_start | date:'MM/dd/yy'}}</span>
                </div>
                <div class="user-grp">
                    <label>Showing End:</label>
                    <span>{{movieDetails.showing_end | date:'MM/dd/yy'}}</span>
                </div>
                <div class="user-grp">
                    <label>Description:</label>
                    <span [innerHTML]="movieDetails.description"></span>
                </div>

                <!-- <div class="user-grp">
                <label>Status:</label>
                <span>{{local.userDetails.status}}</span>
            </div> -->

            </div>
        </div>

        <div class="main-panel">
            <div class="user-details">
                <h3>Schedule</h3>

                <div class="main-panel">
                    <div class="page-table">
                        <table>
                            <thead>
                                <tr>

                                    <th>Schedule</th>
                                    <th>Cinema</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of movieSchedule">
                                    <td>{{item.schedule}}</td>
                                    <td>{{item.name}}</td>
                                    <td class="pointer" (click)="goTo(item.id)" style="color: rgb(119, 190, 190);">View</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>


        <!-- <div class="main-panel">
          <div class="user-details">
              <h3>Participants</h3>
              <table class="table table-bordered">
                  <thead>
                      <th>#</th>
                      <th>Name</th>
                      <th>Mobile</th>
                      <th>Email</th>
                      <th>Ticket Numbner</th>
                      <th>Draw Date</th>
                      <th>Statu</th>
                  </thead>
                  <tbody>
                      <tr *ngFor="let item of entryList;let i = index">
                          <td>{{i+1}}</td>
                          <td>{{item.name}}</td>
                          <td>{{item.mobile}}</td>
                          <td>{{item.email}}</td>
                          <td>{{item.ticket_number}}</td>
                          <td>{{rewardData.draw_date | date:'MMM dd, yyyy'}}</td>
                          <td>{{(item.is_winner == 0)?'-':'Winner'}}</td>
                      </tr>
                  </tbody>
              </table>

          </div>
      </div> -->

    </div>
</div>


<div class="modals edit-user" *ngIf="modalEdit" id="add-admin" tabindex="-1" role="dialog" aria-labelledby="examplemodalsLabel" aria-hidden="true">
    <div class="modals-dialog" role="document">
        <div class="modals-content">
            <div class="modals-body">
                <a (click)="hideModal()" class="mdclose pointer" data-dismiss="modals" aria-label="Close"><img src="assets/images/close.svg"></a>
                <div class="md-content">
                    <div class="edit-content">
                        <h4>New Raffle</h4>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="frm-grp">
                                    <label>Select Client</label>
                                    <select class="frm-text" [(ngModel)]="rewardData.client_id">
                        <option>Select Client</option>
                        <option *ngFor="let item of clientList" [value]="item.id">{{item.name}}</option>
                      </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="frm-grp">
                                    <label>Select Challenge</label>
                                    <select class="frm-text" [(ngModel)]="rewardData.challenge_id">
                        <option value="0">none</option>
                        <option *ngFor="let item of challengeList" [value]="item.id">{{item.title}}</option>
                      </select>
                                </div>
                            </div>
                            <div class="col-md-12">

                                <div class="frm-grp">
                                    <label>Title <b style="color:red">*</b></label>
                                    <input [(ngModel)]="rewardData.title" type="text" class="frm-text" placeholder="">
                                </div>
                                <div class="frm-grp">
                                    <label>Description <b style="color:red">*</b></label>
                                    <textarea [(ngModel)]="rewardData.description" class="frm-text" rows="2"></textarea>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="frm-grp">
                                    <label>Link</label>
                                    <input [(ngModel)]="rewardData.link" type="text" class="frm-text" placeholder="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="frm-grp">
                                    <label>Points <b style="color:red">*</b></label>
                                    <input [(ngModel)]="rewardData.points" type="text" class="frm-text" placeholder="">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="frm-grp">
                                    <label>Start Date <b style="color:red">*</b></label>
                                    <input [(ngModel)]="rewardData.start_date" type="date" class="frm-text" placeholder="">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="frm-grp">
                                    <label>End Date <b style="color:red">*</b></label>
                                    <input [(ngModel)]="rewardData.expired_date" type="date" class="frm-text" placeholder="">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="frm-grp">
                                    <label>Draw Date <b style="color:red">*</b></label>
                                    <input [(ngModel)]="rewardData.draw_date" type="date" class="frm-text" placeholder="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-check">
                                    <input [(ngModel)]="rewardData.is_premium" class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                    <label class="form-check-label" for="defaultCheck1">
              Is Premium?
            </label>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="col-md-12">
                                    <div class="frm-grp">
                                        <label>Photo <b style="color:red">*</b></label>
                                        <input type="file" name="" (change)="selectFile($event)">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="md-btn mt30">
                        <button class="mbtn mbtn-primary" (click)="modalConfirm = true">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modals" *ngIf="modalConfirm" id="add-confirm" tabindex="-1" role="dialog" aria-labelledby="examplemodalsLabel" aria-hidden="true">
    <div class="modals-dialog" role="document">
        <div class="modals-content">
            <div class="modals-body">
                <!-- <a href="#" class="mdclose" data-dismiss="modals" aria-label="Close"><img src="assets/images/close.svg"></a> -->
                <div class="md-content">
                    <h4 class="alert-title">Add raffle</h4>
                    <p class="alert-text">Are you sure you want to add this raffle?</p>
                    <div class="md-btn mt30">
                        <button class="mbtn mbtn-default" (click)="hidemodal()">Cancel</button> &nbsp;
                        <button class="mbtn mbtn-primary" (click)="uploadfile()">Add</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modals" *ngIf="modalDisable" id="add-confirm" tabindex="-1" role="dialog" aria-labelledby="examplemodalsLabel" aria-hidden="true">
    <div class="modals-dialog" role="document">
        <div class="modals-content">
            <div class="modals-body">
                <!-- <a href="#" class="mdclose" data-dismiss="modals" aria-label="Close"><img src="assets/images/close.svg"></a> -->
                <div class="md-content">
                    <h4 class="alert-title">Disable raffle</h4>
                    <p class="alert-text">Are you sure you want to disable this raffle?</p>
                    <div class="md-btn mt30">
                        <button class="mbtn mbtn-default" (click)="hidemodal()">Cancel</button> &nbsp;
                        <button class="mbtn mbtn-primary" (click)="disable()">Disable</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modals" *ngIf="modalDisableSuccess" id="add-success" tabindex="-1" role="dialog" aria-labelledby="examplemodalsLabel" aria-hidden="true">
    <div class="modals-dialog" role="document">
        <div class="modals-content">
            <div class="modals-body">
                <a (click)="goTo()" class="mdclose pointer" data-dismiss="modals" aria-label="Close"><img src="assets/images/close.svg"></a>
                <div class="md-content">
                    <div class="success-content">
                        <img src="assets/images/check.svg">
                        <h3>Success</h3>
                        <p>
                            Raffle disabled.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modals" *ngIf="modalSuccess" id="add-success" tabindex="-1" role="dialog" aria-labelledby="examplemodalsLabel" aria-hidden="true">
    <div class="modals-dialog" role="document">
        <div class="modals-content">
            <div class="modals-body">
                <a (click)="goTo()" class="mdclose pointer" data-dismiss="modals" aria-label="Close"><img src="assets/images/close.svg"></a>
                <div class="md-content">
                    <div class="success-content">
                        <img src="assets/images/check.svg">
                        <h3>Success</h3>
                        <p>
                            Raffle added.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modals" *ngIf="modalLoading">
    <div class="modals-dialog" role="document">
        <div class="modals-content">
            <div class="modals-body">
                <div class="md-content">
                    <div class="success-content">
                        <h3>Loading</h3>
                        <p>
                            Uploading data
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>